.message
  .message__top
    .message__top__user_name
      = message.user.name
    .message__top__posted_at
      = format_posted_time(message.created_at)
  - if message.content.present?
    .message__message_content
      = message.content
  = image_tag message.image.url, class: 'message__message_image' if message.image.present?
